<h1>Welcome to MrchBox</h1>
<% if @locations.any? && @items.any? %>
  <% if @shows.count > 1 %>
<%= link_to "Latest show #{@shows.first.dateandvenue}", counts_path(@shows.first) %><br>
<%= link_to "Latest show #{@shows.first.dateandvenue}", counts_path(@shows.first) %>
  <% end %>
<% else %>
Go make some items and locations!
<% end %>



