$font-family-sans-serif: "Oxygen";
$font-size-base: 16px;
$gray-base: #111;
$brand-primary: #94C5CC;
$brand-warning: #FFCC66;
$btn-warning-border: $brand-warning;
$btn-primary-border: $brand-primary;
$btn-default-bg: #B4D2E7;
$btn-default-border: $btn-default-bg;
$btn-default-color: #fff;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
body {
  text-align:center;
}
th {
  text-align:center;
}