/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

a.nav:link, a.nav:visited {
    display: block;

    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    background-color: #1D71D1;
}

body {font: normal normal  16px/1 Tahoma, Geneva, sans-serif;
  color: black;
  background: #E8F6FF;
  text-align: center;
}

table {
  margin-left:auto; 
    margin-right:auto;
  
}

tr:nth-of-type(odd) {
  background-color:#ccc;
}

tr.form:nth-of-type(odd) {
  background-color:#E8F6FF;
}


th {
  background-color: black;
    color: white;
  font-weight: normal;
    padding: 10px;
}

form {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}